<section class="todoapp">
  <header class="header">
    <h1>{{titre}}</h1>

    <form (submit)="appendItem(newTodoInput.value); newTodoInput.value=''">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            [ngModel]="isAllDone()"
            (ngModelChange)="toggleAllDone()"
    />
    <ul class="todo-list">

      <li *ngFor="let item of getFiltereditems()"
      [class.editing] = "itemCompo.isEditing">
      <app-todo-item #itemCompo [data]="item"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count" ><strong></strong>{{NbitemsUnchecked()}} restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="currentFilter = filterAll" [class.selected] =
          "currentFilter === filterAll">Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="currentFilter = filterUnDone" [class.selected] =
          "currentFilter === filterUnDone">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="currentFilter = filterDone" [class.selected] =
        "currentFilter === filterDone">Complétés</a>
      </li>
    </ul>
    <span><button class="clear-completed" (click)="removeItems()" > Supprimer cochées</button></span>

  </footer>

</section>

<hr/>




